#Main_Text {
font-size: 21px;
font-family: 'Ubuntu', sans-serif;
padding: 0 150px 0 0;
font-weight: lighter;
color: gray;
}
#Maintitletxt {
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    padding: 150px 200px 0 0;
}
#mainimg {
    position: relative;
    bottom: 500px;
    left: 125px;
    width: 550px;
    padding: 0 0 0 100px;
}
#input1 {
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
#input2 {
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
#inputs12 {
    text-align: right;
    padding-right: 100px;
}
#Button {
    padding: 20px 183px 20px 183px;
    border-radius: 100px; 
    background-color: rgb(15, 143, 100);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}  
#checkbx {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 23px;
    width: 23px;
    margin-right: 485px;
}
#checkboxtxt {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    margin-right: 260px;
    position: relative;
    bottom: 33px;
}
#secondTitle{
    background-color: rgb(14, 36, 58);
    width: 100%;
    padding: 200px 0;
    margin: 0;
}
#Title {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 53px;
}
#ipsum {
    color: white;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
}
/* TEXT BOXES START HERE*/
#Textboxes {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 15px;
    padding: 0 10%;
}
.boxes {
background-color: rgb(255, 255, 255);
padding: 5px 10px;
border-radius: 10px;
font-family: 'Ubuntu', sans-serif;
}
.Box1{
    font-size: 23px;
}
#thirdsection {
    padding-top: 175px;
    padding-left: 265px;
    padding-bottom: 500px;
}
#newandannouncetxt{
    list-style: none;
}
#announcetxt {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 150;
    background-color: rgba(0, 128, 0, 0.151);
    margin-right: 990px;
    padding: 10px 10px
    
}
#thirdsectiontitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    font-weight: 600;
}
#thirdsectiontext {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(71, 73, 71);
}
#ExploreButton {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 145, 19);
    text-decoration-line: none;
}
#thrdsctimgsrc {
    width: 500px;
    margin-top: -350px;
    padding-right: 250px;
}